<h2>listing all collective decisions</h2>



<div class="row">


  {{#each model as |collectiveDecision|}}
    <div class="col-md-4">


      {{#collective-decision item=collectiveDecision}}
        {{#link-to 'collective-decisions.edit' collectiveDecision.id class='btn btn-success btn-xs'}}edit{{/link-to}}
        <button class="btn btn-danger btn-xs" {{action 'deleteCollectiveDecision' collectiveDecision}}>delete</button>
      {{/collective-decision}}


    </div>
  {{/each}}


</div>
