@import "bootstrap";

body {
  padding-top: 10px;
}

.glyphicon {
 //margin-top:6px;
 // margin-right:18px;
}

html {
  overflow-y: scroll;
}

.library-item {
  min-height: 150px;
}

// για να ανάβει ή να σβήνει το fader-label σταδιακά
.label-fade {
  opacity: 0;
  @include transition(all 0.5s);
  &.label-show {
    opacity: 1;
  }
}




///////////////////////////////////////////////////////////////////////////////////////
#note {
        font-size: 12px;
        font-weight: bold;
        position: fixed;
        z-index: 6001;
        bottom: 20px;
        left: 20px;
        width: 260px;
	      height: 70px;
        padding: 5px;
        background-color:rgba(250, 250, 210,0.80);
        border-bottom:1px solid #ccc;
	      border-radius:4px;
	      box-shadow:0px 3px 5px rgba(0,0,0,.2);
        text-align: center;
        line-height: 2.5;
        overflow: hidden;
        -webkit-transform: translateY(100px);
        -webkit-animation: noteSlideDown 8s 0.8s 1 ease forwards;
        -moz-transform:    translateY(100px);
        -moz-animation:    noteSlideDown 8s 0.8s 1 ease forwards;
    }
    @-webkit-keyframes noteSlideDown {
        0%, 100% { -webkit-transform: translateY(100px); }
        10%, 90% { -webkit-transform: translateY(0px); }
    }
    @-moz-keyframes noteSlideDown {
        0%, 100% { -moz-transform: translateY(100px); }
        10%, 90% { -moz-transform: translateY(0px); }
    }
