<div class="panel panel-default collective-decision">

  <div class="panel-heading">
    <h3 class="panel-title">{{item.code}}</h3>
  </div>

  <div class="panel-body">
    <p>{{item.description}}</p>
  </div>

  <div class="panel-footer text-right">
    {{yield}}
  </div>

</div>
