<div class="panel panel-default collective-decision">

  <div class="panel-heading">
    <h3 class="panel-title">{{i_CollectiveDecision.code}}</h3>
        <p>{{i_CollectiveDecision.description}}</p>
  </div>

  <div class="panel-body">

  




  </div>

  <div class="panel-footer text-right">
    {{yield}}
  </div>

</div>
