<h3>Όλες οι συλλογικές αποφάσεις</h3>

<div class="row">

    {{#each model as |a_CollectiveDecision|}}
      <div class="col-md-4">

        {{#collective-decision-item i_CollectiveDecision=a_CollectiveDecision}}

          {{#link-to 'collective-decisions.edit' a_CollectiveDecision.id class='btn btn-success btn-xs'}}edit{{/link-to}}
          <button class="btn btn-danger btn-xs" {{action 'deleteCollectiveDecision' a_CollectiveDecision}}>delete</button>

        {{/collective-decision-item}}

      </div>
    {{/each}}

</div>
