<h3>Όλες οι συλλογικές αποφάσεις</h3>

<div class="row">

    {{#each model as |aCollectiveDecision|}}
      <div class="col-md-4">

        {{#collective-decision-item i_CollectiveDecision=aCollectiveDecision}}

          {{#link-to 'collective-decisions.edit'   aCollectiveDecision.id class='btn btn-success btn-xs'}}edit  {{/link-to}}
          {{#link-to 'collective-decisions.delete' aCollectiveDecision.id class='btn btn-danger  btn-xs'}}delete{{/link-to}}

        {{/collective-decision-item}}

      </div>
    {{/each}}

</div>
