<h3>Όλα τα έργα</h3>

<div class="row">

  {{#each model as |aProject|}}
    <div class="col-md-4">

      {{#project-item project=aProject}}

        {{#link-to 'projects.edit' aProject.id class='btn btn-success btn-xs'}}edit{{/link-to}}
        <button class="btn btn-danger btn-xs" {{action 'deleteProject' aProject}}>delete</button>

      {{/project-item}}

    </div>
  {{/each}}

</div>
