<h3>Όλα τα έργα</h3>

<div class="row">

  {{#each model as |project|}}
    <div class="col-md-4">

      {{#project-item item=project par=project.collectiveDecision}}

        {{#link-to 'projects.edit' project.id class='btn btn-success btn-xs'}}edit{{/link-to}}
        <button class="btn btn-danger btn-xs" {{action 'deleteProject' project}}>delete</button>

      {{/project-item}}

    </div>
  {{/each}}

</div>
