<h2>editing a collective decision</h2>
{{collective-decision-form f_CollectiveDecision=model buttonLabel='Save Collective Decision' action='saveCollectiveDecision'  addProject=(action 'addProject') }}
